$color-background-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-block-grey: #FAFAFA;
$color-brand: #FD9F32;
$color-main: #664B42;

$content-width: 1800px;
$container-width: 1796px;
$tablet-width: 800px;
$mobile-big-width: 600px;
$mobile-width: 390px;
