@font-face {
    font-family: "Mulish";
    font-weight: 500;
    font-style: normal;
    src: local("Mulish Medium"), local("Mulish-Medium"),
    url('../fonts/Mulish-Medium.eot') format("eot"), url('../fonts/Mulish-Medium.woff') format("woff"), url('../fonts/Mulish-Medium.ttf') format("truetype"); 
}
 
@font-face {
    font-family: "Mulish";
    font-weight: 600;
    font-style: normal;
    src: local("Mulish SemiBold"), local("Mulish-SemiBold"),
    url('../fonts/Mulish-SemiBold.eot') format("eot"), url('../fonts/Mulish-SemiBold.woff') format("woff"), url('../fonts/Mulish-SemiBold.ttf') format("truetype"); 
}
@font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: normal;
    src: local("Mulish Bold"), local("Mulish-Bold"),
    url('../fonts/Mulish-Bold.eot') format("eot"), url('../fonts/Mulish-Bold.woff') format("woff"), url('../fonts/Mulish-Bold.ttf') format("truetype"); 
}
@font-face {
    font-family: "Mulish";
    font-weight: 800;
    font-style: normal;
    src: local("Mulish ExtraBold"), local("Mulish-ExtraBold"),
    url('../fonts/Mulish-ExtraBold.eot') format("eot"), url('../fonts/Mulish-ExtraBold.woff') format("woff"), url('../fonts/Mulish-ExtraBold.ttf') format("truetype"); 
}